{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div class="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
  
  <form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline login-form">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="input" placeholder="Login or email" />

    <input type="password" id="password" name="_password" required="required" class="input" placeholder="Password" />

    <label class="checkbox">
      <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember me 
    </label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn"/>
    
    <a class="btn btn-primary" href="{{ path("fos_user_registration_register") }}">Create account</a>
  </form>
  
{% endblock fos_user_content %}
