{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div class="alert">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
    <div class="webLinkCenterBlock">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal web-biblio-form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="control-group">
                <label class="control-label" for="username">Login or email</label>
                <div class="controls">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="input" placeholder="login or email" />
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="_password" required="required" class="input" placeholder="password" />
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="label-weblink-checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="input-weblink-checkbox" /> Remember me 
                    </label>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn"/>
                </div>
            </div>

            <br/>

            <div class="control-group">
                <label class="control-label">Or</label>
                <div class="controls">
                    <a class="btn btn-primary" href="{{ path("fos_user_registration_register") }}">Create account</a>
                </div>
            </div>
        </form>
    </div>      
{% endblock fos_user_content %}
