<div class="webLinkListBlock">  
    <div class="listHeader">Here you can find the list of your webLinks</div>
        
    <ul>
    
    {% if webLinks|length > 0 %}
    <ul>
        {% for webLink in webLinks %}
            <li>
                {% if webLink.published %}
                <form method="POST" action="{{ path('web_biblio_publish', { 'id': webLink.id, 'value': '0' }) }}">
                    <input border="0" src="{{ asset('bundles/icapwebbiblio/images/accept.png') }}" type="image" value="submit" align="middle" > 
                {% else %}
                <form method="POST" action="{{ path('web_biblio_publish', { 'id': webLink.id, 'value': '1' }) }}">
                    <input border="0" src="{{ asset('bundles/icapwebbiblio/images/delete.png') }}" type="image" value="submit" align="middle" > 
                {% endif %}
                

                <a href="#">{{ webLink.url }}</a>
                <span class="webLinkTags">[
                {% for tag in webLink.tags %} 
                    {{ tag.name }}{% if not loop.last %},{% endif %}
                {% endfor %}
                ]</span><br/>

                </form>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        Oupss! No webLinks yet !
    {% endif %}
    
</div>